app:
  env: "local"
  dbDebug: "true"
  port: "8080"
  address: "localhost"

db:
  driver: "mysql"
  name: "godisb"
  host: "localhost"
  port: "3306"
  user: ""
  password: ""
  
externalApi:
  bca:
    baseUrl: "https://godisb.free.beeceptor.com"
    apiKey: "thisisapikey"
  mandiri:
    baseUrl: "https://godisb.free.beeceptor.com"
    apiKey: "thisisapikey"
